<div style="display: flex; justify-content: center">
  <img src="{{./assets/logo.png}}" />
</div>

<strong>Prezado, {{ deliveryman }}</strong>
<p>A encomenda de código {{ delivery }} foi cancelada</p>