<div style="display: flex; justify-content: center">
  <img src="{{./assets/logo.png}}" />
</div>

<strong>Prezado, {{ deliveryman }}</strong>
<p>Você tem uma nova encomenda</p>
<p><strong>Produto:</strong> {{ product }}</p>
<p><strong>Remetente:</strong> {{ recipient }}</p>